<p>A new Transaction was made on your account
from ATM <%= @atm_name %> with amount $ <%= @amount_tra%>
</p>
<h3 style="color : red;font-weight:900">if it's not you please contact the bank immediately </h3>
